.card {
    border-radius: 16px;
    background: linear-gradient(270deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.00) 100%),
                linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.20) 100%),
                rgba(220, 220, 220, 0.20);
    backdrop-filter: blur(10px);
    display: flex;
    align-items: center;
}

.card:hover {
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.00) 100%),
                linear-gradient(0deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.20) 100%),
                rgba(220, 220, 220, 0.20);
    transition: background 1s ease;
}

.card-title {
    margin: 0;
    margin-left: 24px;
    font-weight: var(--weight-extralight);
    color: var(--text-primary);
}

.card-arrow {
    position: absolute;
    top: 12px;
    right: 12px;
    box-sizing: border-box;
} 

.study-cards {
    display: flex;
    flex-direction: column;
    gap: 0px;
    /* margin: 24px auto 0; */
    width: fit-content;
}

.study-card {
    width: 345px;
    height: 104px;
    text-decoration: none; /* 移除底線 */
} 